services:
  oracle:
    image: 'oracle-xe-snippetvault:latest'
    environment:
      - 'ORACLE_ALLOW_REMOTE=true'
      - 'DB_USER=snippetvault'
      - 'DB_PASS=secret'
    volumes:
      - 'oracle_data:/u01/app/oracle'
    ports:
      - '1521:1521'

volumes:
  oracle_data:
    driver: local